{% extends 'index.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
</br></br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <!-- Card -->
            <div class="card" style="margin-bottom: 1rem;">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="img-fluid"
                        src="/static/Flowchart.png"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title" style="text-align: center;margin: 0 auto;">Either URL does not exists or Feature extraction cannot be completed</h4>
                    <!-- Text -->
                    <p class="card-text" style="text-align:center">
                        Either URL does not exists or Feature extraction cannot be completed
                    </p>
                    <!-- Button -->
                </div>

            </div>
            <!-- Card -->
        </div>

    </div>
    <div class="row" style="margin-bottom: 1rem;">
        <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
    </div>

    

{% endblock %}