{% extends 'index.html' %}
{% block title %}Dataset{% endblock %}
{% block content %}
<h2 class='mb-3'>Dataset collected from Chrome Extension (Blacklisting purpose)</h2>
<table id="dtBasicExample" class="table" width="100%">
  <thead>
    <tr>
      <th>URL</th>
      <th>Status</th>
      <th>Domain</th>
      <th>Organisation</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Country</th>
      <th>Email</th>
      <th>Alexa Rank</th>
      <th>Registrar</th>
      <th>Time</th>
    </tr>
  </thead>
  
  
</table>
{% endblock %}    