{% extends 'index.html' %}
{% block title %}Fetch Live Analysis{% endblock %}
{% block content %}
</br>
    <div class="container-fluid" style="margin-top: 1rem;margin-bottom: 5rem;">
        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                    <!-- Card content -->
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">Proportion of Legitimate and Malicious Websites as inferred from URL browsing history</h5>
                        

                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f2}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    
    
                </div>
                <!-- Card -->
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                     <!-- Card content -->
                     <div class="card-body">
    
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">URLs of various organisations visited, detected through Chrome Extension</h5>
    
                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f3}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;margin-bottom: 50px;"

                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                   
    
                </div>
                <!-- Card -->
            </div>
        </div>

    </br>


        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                     <!-- Card content -->
                     <div class="card-body">
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">URLs of various registrars browsed as detected from Chrome Extension</h5>
                        
    
                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f4}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;margin-bottom: 50px;"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                   
    
                </div>
                <!-- Card -->
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                     <!-- Card content -->
                     <div class="card-body">
    
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">URLs of various country browsed as detected from Chrome Extension</h5>
    
                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f5}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;margin-bottom: 50px;"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                   
    
                </div>
                <!-- Card -->
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                    <!-- Card content -->
                    <div class="card-body">
    
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">Malicious URLs from various countries as detected from Chrome Extension </h5>
    
                    </div>
    
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f6}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;margin-bottom: 50px;"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                    
                </div>
                <!-- Card -->
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-8" style="margin: 0 auto;">
                <!-- Card -->
                <div class="card" style="margin-bottom: 1rem;">
                     <!-- Card content -->
                     <div class="card-body">
    
                        <h5 class="card-title" style="text-align: center;margin: 0 auto;">Legitimate URLs of various country browsed as detected from Chrome Extension</h5>
    
                    </div>
                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="img-fluid"
                        src={{f7}} style="    margin-left: 25%;
                        margin-right: 25%;
                        width: 50%;
                        display: block;margin-bottom: 50px;"
                            alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
    
                   
    
                </div>
                <!-- Card -->
            </div>
        </div>






    </br>


    <div class="row">
        <div class="col-md-8" style="margin: 0 auto;">
            <!-- Card -->
            <div class="card" style="margin-bottom: 1rem;">
                 <!-- Card content -->
                 <div class="card-body">

                    <h5 class="card-title" style="text-align: center;margin: 0 auto;">Time when users are most active</h5>

                </div>
                <!-- Card image -->
                <div class="view overlay">
                    <img class="img-fluid"
                    src={{f8}} style="    margin-left: 25%;
                    margin-right: 25%;
                    width: 50%;
                    display: block;margin-bottom: 50px;"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

               

            </div>
            <!-- Card -->
        </div>
    </div>






</br>




        <div class="row" style="margin-bottom: 1rem;">
            <a href="/" class="btn btn-primary" style="margin: 0 auto;display: block;">Home</a>
        </div>
    </div>

{% endblock %}    